.task-editor {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px 10px;
    height: fit-content;

}

.textarea {
    resize: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
    color: rgb(36, 36, 36);
    margin-bottom: 10px;
    font-family: 'Roboto';

}

.action-button {
    padding: 7px 15px;
    font-size: 15px;
    border: none;
    font-weight: 600;
    border-radius: 5px;
}

#cancel-button {
    background-color: rgb(238, 238, 238);
    color: rgb(68, 68, 68);
    margin-right: 10px;
}

#cancel-button:hover {
    background-color: rgb(224, 224, 224);
    cursor: pointer;
}

#add-button {
    color: white;
    background-color: #5268F5;
    cursor: pointer;
}

#add-button:disabled {
    background-color: #c6cbeb;
    cursor: not-allowed;
}

.calendar-icon {
    color: rgb(138, 138, 138);
    width: 20px;
    height: 20px;

}

.task-name {
    width: 100%;
    border: none;
    padding-bottom: 15px;
    font-size: 16px;
    color: rgb(36, 36, 36);

}

.task-name:focus,
.task-description:focus {
    outline: none;
}



.task-name::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgb(0, 0, 0);
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
}