@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/*My stules */


html,
body,
#root {
  height: 100%;

}



body {
  font-family: 'Roboto';
  margin: 0;

}